/* because we are specifying body below, we
are affecting our body*/
body{
	background: white;
}
/* we can see how the rules we set for color 'cascade':*/
h1{
	background: white;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
